name: CI

on: [push]

jobs:
  docker-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build and test
        run: |
          docker build -t my-app .
          docker run my-app python client.py